.image-chart-box {
    padding: 22px;
}
.image-title {
    color: blue;
    cursor: pointer;
}
.image-title:hover {
    text-decoration: underline;
    color: black;
}

.state {
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 0 5px;
}

.slider-box {
    width: 504px;
    margin: auto;
}
.slider-box input[type=checkbox] {
    margin-top: -4px;
}
.state-diff {
    color: red;
}
.state-diff-ok {
    color: orange;
}
.state-ok {
    color: green;
}
.state-unknown {
    color: yellow;
}
.slider {
    width: 500px;
}

.modal-body {
    height: 500px;
}
.image-compare-box img {
    position: absolute;
    top: 12px;
    left: 12px;
}
.images-box {
    position: relative;
    width: 540px;
    height: 340px;
    overflow: auto;
}
.image-compare-box img.screen {
    opacity: 0.5;
}
.image-compare-box img.approved {
    opacity: 0.5;
}
.image-compare-box img.diff {
    opacity: 0;
}

.close-link {
    color: blue;
    cursor: pointer;
    display: inline-block;
    width: 95%;
    text-align: center;
    margin: 6px;
    padding: 6px;
    font-size: 14px;
    padding-top: 6px;
}
.close-link:hover {
    text-decoration: underline;
    background-color: lightgray;
}

.compare-text {
    text-align: center;
}

.action-link {
    color: red;
    cursor: pointer;
}
.action-link:hover {
    text-decoration: underline;
}
.approve-link {
    color: green;
    font-weight: bold;
}
.type-not-build .image-title {
    opacity: 0.5;
}
.control-box {
    padding: 12px;
}
.delete-link{
    float: left;
}